
@media screen and (min-width: 1501px), screen and (min-height: 801px) {
   
    #allinventorywindow{
        display: none;
        position: absolute;
        width: 431px;
        height: 359px;
        bottom: 0px;
        left: 50%;
        margin-left: -225px;
        background: url('../img/3/playerwindow.png' ) no-repeat;
        color: white;
        text-align: center;
        pointer-events: all;
    }

	#inventoryheading {
		position:absolute;
		left:165px;
		top:8px;
		font-family:'GraphicPixel';
		font-size:21px;
		font-weight:bold;
		color:#fff;
		text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
	}
    
    #inventoryoffset {
    	position: absolute;
    	left:40px;
    	top:50px;
    	pointer-events: all;
    }
    
    #inventory0, #inventory1, #inventory2, #inventory3, #inventory4, #inventory5, #inventory6, #inventory7, #inventory8, #inventory9, #inventory10, #inventory11, #inventory12, #inventory13, #inventory14, #inventory15, #inventory16, #inventory17, #inventory18, #inventory19, #inventory20, #inventory21, #inventory22, #inventory23, #inventory24, #inventory25, #inventory26, #inventory27, #inventory28, #inventory29 {
        position: absolute;
        left:3px;
        top:3px;
        width: 48px;
        height: 45px;
        background-color: rgba(0, 0, 0, 0);
	cursor: pointer;
	pointer-events: all;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	line-height:48px;
	color: #ff0;
	font-family: 'GraphicPixel';
	font-size:18px;
	text-align:center;
    }
    #inventorybackground0,#inventorybackground1,#inventorybackground2,#inventorybackground3,#inventorybackground4,#inventorybackground5,#inventorybackground6, #inventorybackground7, #inventorybackground8, #inventorybackground9, #inventorybackground10, #inventorybackground11, #inventorybackground12, #inventorybackground13, #inventorybackground14, #inventorybackground15, #inventorybackground16, #inventorybackground17, #inventorybackground18, #inventorybackground19, #inventorybackground20, #inventorybackground21, #inventorybackground22, #inventorybackground23, #inventorybackground24, #inventorybackground25, #inventorybackground26, #inventorybackground27, #inventorybackground28, #inventorybackground29 {
        position: absolute;
        width: 55px;
        height: 55px;
        background: url('../img/3/itembackground.png' ) no-repeat;
        pointer-events: all;
    }
    #inventorybackground0, #inventorybackground1, #inventorybackground2, #inventorybackground3, #inventorybackground4, #inventorybackground5{ top: 0px; }
    #inventorybackground6, #inventorybackground7, #inventorybackground8, #inventorybackground9, #inventorybackground10, #inventorybackground11{ top: 70px; }
    #inventorybackground12, #inventorybackground13, #inventorybackground14, #inventorybackground15, #inventorybackground16, #inventorybackground17{ top: 140px; }
    #inventorybackground18, #inventorybackground19, #inventorybackground20, #inventorybackground21, #inventorybackground22, #inventorybackground23{ top: 210px; }
    #inventorybackground24, #inventorybackground25, #inventorybackground26, #inventorybackground27, #inventorybackground28, #inventorybackground29{ top: 280px; }
    #inventorybackground0, #inventorybackground6, #inventorybackground12, #inventorybackground18, #inventorybackground24{ left: 0px; }
    #inventorybackground1, #inventorybackground7, #inventorybackground13, #inventorybackground19, #inventorybackground25{ left: 60px; }
    #inventorybackground2, #inventorybackground8, #inventorybackground14, #inventorybackground20, #inventorybackground26{ left: 120px; }
    #inventorybackground3, #inventorybackground9, #inventorybackground15, #inventorybackground21, #inventorybackground27{ left: 180px; }
    #inventorybackground4, #inventorybackground10, #inventorybackground16, #inventorybackground22, #inventorybackground28{ left: 240px; }
    #inventorybackground5, #inventorybackground11, #inventorybackground17, #inventorybackground23, #inventorybackground29{ left: 300px; }
    #inventorynumber0, #inventorynumber1, #inventorynumber2, #inventorynumber3, #inventorynumber4, #inventorynumber5, #inventorynumber6, #inventorynumber7, #inventorynumber8, #inventorynumber9, #inventorynumber10, #inventorynumber11, #inventorynumber12, #inventorynumber13, #inventorynumber14, #inventorynumber15, #inventorynumber16, #inventorynumber17, #inventorynumber18, #inventorynumber19, #inventorynumber20, #inventorynumber21, #inventorynumber22, #inventorynumber23, #inventorynumber24, #inventorynumber25, #inventorynumber26, #inventorynumber27, #inventorynumber28, #inventorynumber29 {
        position: absolute;
        width: 55px;
        height: 21px;
        /*border: 1px solid #9C9898;*/
        color: rgba(255, 255, 255, 1);
        text-align: center;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        font-family: 'GraphicPixel';
	font-size:18px;
        
    }
    #inventorynumber0, #inventorynumber1, #inventorynumber2, #inventorynumber3, #inventorynumber4, #inventorynumber5{ top: 55px; }
    #inventorynumber6, #inventorynumber7, #inventorynumber8, #inventorynumber9, #inventorynumber10, #inventorynumber11{ top: 122px; }
    #inventorynumber12, #inventorynumber13, #inventorynumber14, #inventorynumber15, #inventorynumber16, #inventorynumber17{ top: 192px; }
    #inventorynumber18, #inventorynumber19, #inventorynumber20, #inventorynumber21, #inventorynumber22, #inventorynumber23{ top: 261px; }
    #inventorynumber24, #inventorynumber25, #inventorynumber26, #inventorynumber27, #inventorynumber28, #inventorynumber29{ top: 344px; }
    #inventorynumber0, #inventorynumber6, #inventorynumber12, #inventorynumber18, #inventorynumber24{ left: 0px; }
    #inventorynumber1, #inventorynumber7, #inventorynumber13, #inventorynumber19, #inventorynumber25{ left: 60px; }
    #inventorynumber2, #inventorynumber8, #inventorynumber14, #inventorynumber20, #inventorynumber26{ left: 120px; }
    #inventorynumber3, #inventorynumber9, #inventorynumber15, #inventorynumber21, #inventorynumber27{ left: 180px; }
    #inventorynumber4, #inventorynumber10, #inventorynumber16, #inventorynumber22, #inventorynumber28{ left: 240px; }
    #inventorynumber5, #inventorynumber11, #inventorynumber17, #inventorynumber23, #inventorynumber29{ left: 300px; }

     #inventory0Cooltime,  #inventory1Cooltime,  #inventory2Cooltime,  #inventory3Cooltime, #inventory4Cooltime,  #inventory5Cooltime {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 48px;
        height: 48px;
        background-color: rgba(255, 0, 0, 0.5);
        text-align: center;
        font-size: 21px;
        color: white;
        cursor: default;
        display: none;
    }
    
    #inventoryCloseButton {
	    position: absolute;
	    left: 390px;
	    top: 10px;
	    width: 32px;
	    height: 32px;
	    cursor: pointer;
	    /*border:1px solid #0f0;*/
	    z-index:1;
	    pointer-events: all;
    } 
}

@media screen and (max-width: 1500px), screen and (max-height: 870px) {

    #allinventorywindow{
        display: none;
        position: absolute;
        width: 289px;
        height: 241px;
        bottom: 0px;
        left: 50%;
        margin-left: -151px;
        background: url('../img/2/playerwindow.png' ) no-repeat;
        color: white;
        text-align: center;
        pointer-events: all;
    }
    
	#inventoryheading {
		position:absolute;
		left:110px;
		top:6px;
		font-family:'GraphicPixel';
		font-size:14px;
		font-weight:bold;
		color:#fff;
		text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
	}
    
    #inventoryoffset {
    	position: absolute;
    	left:26px;
    	top:34px;
    }
    
    #inventory0, #inventory1, #inventory2, #inventory3, #inventory4, #inventory5, #inventory6, #inventory7, #inventory8, #inventory9, #inventory10, #inventory11, #inventory12, #inventory13, #inventory14, #inventory15, #inventory16, #inventory17, #inventory18, #inventory19, #inventory20, #inventory21, #inventory22, #inventory23, #inventory24, #inventory25, #inventory26, #inventory27, #inventory28, #inventory29 {
        position: absolute;
        left:2px;
        top:2px;
        width: 32px;
        height: 30px;
        background-color: rgba(0, 0, 0, 0);
	cursor: pointer;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	line-height:32px;
	color: #ff0;
	font-family: 'GraphicPixel';
	font-size:12px;
	text-align:center;
    }
    #inventorybackground0,#inventorybackground1,#inventorybackground2,#inventorybackground3,#inventorybackground4,#inventorybackground5,#inventorybackground6, #inventorybackground7, #inventorybackground8, #inventorybackground9, #inventorybackground10, #inventorybackground11, #inventorybackground12, #inventorybackground13, #inventorybackground14, #inventorybackground15, #inventorybackground16, #inventorybackground17, #inventorybackground18, #inventorybackground19, #inventorybackground20, #inventorybackground21, #inventorybackground22, #inventorybackground23, #inventorybackground24, #inventorybackground25, #inventorybackground26, #inventorybackground27, #inventorybackground28, #inventorybackground29 {
        position: absolute;
        width: 37px;
        height: 37px;
        background: url('../img/2/itembackground.png' ) no-repeat;
    }
    #inventorybackground0, #inventorybackground1, #inventorybackground2, #inventorybackground3, #inventorybackground4, #inventorybackground5{ top: 0px; }
    #inventorybackground6, #inventorybackground7, #inventorybackground8, #inventorybackground9, #inventorybackground10, #inventorybackground11{ top: 47px; }
    #inventorybackground12, #inventorybackground13, #inventorybackground14, #inventorybackground15, #inventorybackground16, #inventorybackground17{ top: 94px; }
    #inventorybackground18, #inventorybackground19, #inventorybackground20, #inventorybackground21, #inventorybackground22, #inventorybackground23{ top: 141px; }
    #inventorybackground24, #inventorybackground25, #inventorybackground26, #inventorybackground27, #inventorybackground28, #inventorybackground29{ top: 188px; }
    #inventorybackground0, #inventorybackground6, #inventorybackground12, #inventorybackground18, #inventorybackground24{ left: 0px; }
    #inventorybackground1, #inventorybackground7, #inventorybackground13, #inventorybackground19, #inventorybackground25{ left: 40px; }
    #inventorybackground2, #inventorybackground8, #inventorybackground14, #inventorybackground20, #inventorybackground26{ left: 80px; }
    #inventorybackground3, #inventorybackground9, #inventorybackground15, #inventorybackground21, #inventorybackground27{ left: 120px; }
    #inventorybackground4, #inventorybackground10, #inventorybackground16, #inventorybackground22, #inventorybackground28{ left: 160px; }
    #inventorybackground5, #inventorybackground11, #inventorybackground17, #inventorybackground23, #inventorybackground29{ left: 200px; }
    #inventorynumber0, #inventorynumber1, #inventorynumber2, #inventorynumber3, #inventorynumber4, #inventorynumber5, #inventorynumber6, #inventorynumber7, #inventorynumber8, #inventorynumber9, #inventorynumber10, #inventorynumber11, #inventorynumber12, #inventorynumber13, #inventorynumber14, #inventorynumber15, #inventorynumber16, #inventorynumber17, #inventorynumber18, #inventorynumber19, #inventorynumber20, #inventorynumber21, #inventorynumber22, #inventorynumber23, #inventorynumber24, #inventorynumber25, #inventorynumber26, #inventorynumber27, #inventorynumber28, #inventorynumber29 {
        position: absolute;
        width: 37px;
        height: 14px;
        /*border: 1px solid #9C9898;*/
        color: rgba(255, 255, 255, 1);
        text-align: center;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        font-family: 'GraphicPixel';
	font-size:12px;
    }
    #inventorynumber0, #inventorynumber1, #inventorynumber2, #inventorynumber3, #inventorynumber4, #inventorynumber5{ top: 37px; }
    #inventorynumber6, #inventorynumber7, #inventorynumber8, #inventorynumber9, #inventorynumber10, #inventorynumber11{ top: 85px; }
    #inventorynumber12, #inventorynumber13, #inventorynumber14, #inventorynumber15, #inventorynumber16, #inventorynumber17{ top: 133px; }
    #inventorynumber18, #inventorynumber19, #inventorynumber20, #inventorynumber21, #inventorynumber22, #inventorynumber23{ top: 181px; }
    #inventorynumber24, #inventorynumber25, #inventorynumber26, #inventorynumber27, #inventorynumber28, #inventorynumber29{ top: 229px; }
    #inventorynumber0, #inventorynumber6, #inventorynumber12, #inventorynumber18, #inventorynumber24{ left: 0px; }
    #inventorynumber1, #inventorynumber7, #inventorynumber13, #inventorynumber19, #inventorynumber25{ left: 40px; }
    #inventorynumber2, #inventorynumber8, #inventorynumber14, #inventorynumber20, #inventorynumber26{ left: 80px; }
    #inventorynumber3, #inventorynumber9, #inventorynumber15, #inventorynumber21, #inventorynumber27{ left: 120px; }
    #inventorynumber4, #inventorynumber10, #inventorynumber16, #inventorynumber22, #inventorynumber28{ left: 160px; }
    #inventorynumber5, #inventorynumber11, #inventorynumber17, #inventorynumber23, #inventorynumber29{ left: 200px; }

     #inventory0Cooltime,  #inventory1Cooltime,  #inventory2Cooltime,  #inventory3Cooltime, #inventory4Cooltime,  #inventory5Cooltime {
        position: absolute;
        left: 2px;
        top: 2px;
        width: 32px;
        height: 32px;
        background-color: rgba(255, 0, 0, 0.5);
        text-align: center;
        font-size: 14px;
        color: white;
        cursor: default;
        display: none;
    }
    
    #inventoryCloseButton {
	    position: absolute;
	    left: 260px;
	    top: 6px;
	    width: 21px;
	    height: 21px;
	    cursor: pointer;
	    pointer-events: all;
	    /*border:1px solid #0f0;*/
	    z-index:1;    
    }   
 }

@media screen and (max-width: 1000px) {
    #allinventorywindow{
        display: none;
        position: absolute;
        width: 145px;
        height: 121px;
        bottom: 0px;
        left: 50%;
        margin-left: -72px;
        background: url('../img/1/playerwindow.png' ) no-repeat;
        color: white;
        text-align: center;
        pointer-events: all;
		zoom:1.35;
    }

	#inventoryheading {
		position:absolute;
		left:55px;
		top:3px;
		font-family:'GraphicPixel';
		font-size:7px;
		font-weight:bold;
		color:#fff;
		text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	}
    
    #inventoryoffset {
    	position: absolute;
    	left:13px;
    	top:17px;
    }
    
    #inventory0, #inventory1, #inventory2, #inventory3, #inventory4, #inventory5, #inventory6, #inventory7, #inventory8, #inventory9, #inventory10, #inventory11, #inventory12, #inventory13, #inventory14, #inventory15, #inventory16, #inventory17, #inventory18, #inventory19, #inventory20, #inventory21, #inventory22, #inventory23, #inventory24, #inventory25, #inventory26, #inventory27, #inventory28, #inventory29 {
        position: absolute;
        left:1px;
        top:1px;
        width: 16px;
        height: 15px;
        background-color: rgba(0, 0, 0, 0);
	cursor: pointer;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	line-height:16px;
	color: #ff0;
	font-family: 'GraphicPixel';
	font-size:6px;
	text-align:center;

    }
    #inventorybackground0,#inventorybackground1,#inventorybackground2,#inventorybackground3,#inventorybackground4,#inventorybackground5,#inventorybackground6, #inventorybackground7, #inventorybackground8, #inventorybackground9, #inventorybackground10, #inventorybackground11, #inventorybackground12, #inventorybackground13, #inventorybackground14, #inventorybackground15, #inventorybackground16, #inventorybackground17, #inventorybackground18, #inventorybackground19, #inventorybackground20, #inventorybackground21, #inventorybackground22, #inventorybackground23, #inventorybackground24, #inventorybackground25, #inventorybackground26, #inventorybackground27, #inventorybackground28, #inventorybackground29 {
        position: absolute;
        width: 18px;
        height: 18px;
        background: url('../img/1/itembackground.png' ) no-repeat;
    }
    #inventorybackground0, #inventorybackground1, #inventorybackground2, #inventorybackground3, #inventorybackground4, #inventorybackground5{ top: 0px; }
    #inventorybackground6, #inventorybackground7, #inventorybackground8, #inventorybackground9, #inventorybackground10, #inventorybackground11{ top: 24px; }
    #inventorybackground12, #inventorybackground13, #inventorybackground14, #inventorybackground15, #inventorybackground16, #inventorybackground17{ top: 48px; }
    #inventorybackground18, #inventorybackground19, #inventorybackground20, #inventorybackground21, #inventorybackground22, #inventorybackground23{ top: 72px; }
    #inventorybackground24, #inventorybackground25, #inventorybackground26, #inventorybackground27, #inventorybackground28, #inventorybackground29{ top: 96px; }
    #inventorybackground0, #inventorybackground6, #inventorybackground12, #inventorybackground18, #inventorybackground24{ left: 0px; }
    #inventorybackground1, #inventorybackground7, #inventorybackground13, #inventorybackground19, #inventorybackground25{ left: 20px; }
    #inventorybackground2, #inventorybackground8, #inventorybackground14, #inventorybackground20, #inventorybackground26{ left: 40px; }
    #inventorybackground3, #inventorybackground9, #inventorybackground15, #inventorybackground21, #inventorybackground27{ left: 60px; }
    #inventorybackground4, #inventorybackground10, #inventorybackground16, #inventorybackground22, #inventorybackground28{ left: 80px; }
    #inventorybackground5, #inventorybackground11, #inventorybackground17, #inventorybackground23, #inventorybackground29{ left: 100px; }
    #inventorynumber0, #inventorynumber1, #inventorynumber2, #inventorynumber3, #inventorynumber4, #inventorynumber5, #inventorynumber6, #inventorynumber7, #inventorynumber8, #inventorynumber9, #inventorynumber10, #inventorynumber11, #inventorynumber12, #inventorynumber13, #inventorynumber14, #inventorynumber15, #inventorynumber16, #inventorynumber17, #inventorynumber18, #inventorynumber19, #inventorynumber20, #inventorynumber21, #inventorynumber22, #inventorynumber23, #inventorynumber24, #inventorynumber25, #inventorynumber26, #inventorynumber27, #inventorynumber28, #inventorynumber29 {
        position: absolute;
        width: 18px;
        height: 7px;
        /*border: 1px solid #9C9898;*/
        color: rgba(255, 255, 255, 1);
        text-align: center;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        font-family: 'GraphicPixel';
	font-size:6px;
    }
    #inventorynumber0, #inventorynumber1, #inventorynumber2, #inventorynumber3, #inventorynumber4, #inventorynumber5{ top: 20px; }
    #inventorynumber6, #inventorynumber7, #inventorynumber8, #inventorynumber9, #inventorynumber10, #inventorynumber11{ top: 44px; }
    #inventorynumber12, #inventorynumber13, #inventorynumber14, #inventorynumber15, #inventorynumber16, #inventorynumber17{ top: 68px; }
    #inventorynumber18, #inventorynumber19, #inventorynumber20, #inventorynumber21, #inventorynumber22, #inventorynumber23{ top: 92px; }
    #inventorynumber24, #inventorynumber25, #inventorynumber26, #inventorynumber27, #inventorynumber28, #inventorynumber29{ top: 116px; }
    #inventorynumber0, #inventorynumber6, #inventorynumber12, #inventorynumber18, #inventorynumber24{ left: 0px; }
    #inventorynumber1, #inventorynumber7, #inventorynumber13, #inventorynumber19, #inventorynumber25{ left: 20px; }
    #inventorynumber2, #inventorynumber8, #inventorynumber14, #inventorynumber20, #inventorynumber26{ left: 40px; }
    #inventorynumber3, #inventorynumber9, #inventorynumber15, #inventorynumber21, #inventorynumber27{ left: 60px; }
    #inventorynumber4, #inventorynumber10, #inventorynumber16, #inventorynumber22, #inventorynumber28{ left: 80px; }
    #inventorynumber5, #inventorynumber11, #inventorynumber17, #inventorynumber23, #inventorynumber29{ left: 100px; }

     #inventory0Cooltime,  #inventory1Cooltime,  #inventory2Cooltime,  #inventory3Cooltime, #inventory4Cooltime,  #inventory5Cooltime {
        position: absolute;
        left: 1px;
        top: 1px;
        width: 16px;
        height: 16px;
        background-color: rgba(255, 0, 0, 0.5);
        text-align: center;
        font-size: 7px;
        color: white;
        cursor: default;
        display: none;
    }
    
    #inventoryCloseButton {
	    position: absolute;
	    left: 130px;
	    top: 3px;
	    width: 11px;
	    height: 11px;
	    cursor: pointer;
	    pointer-events: all;
	    /*border:1px solid #0f0;*/
	    z-index:1;    
    }   
}


