
@media screen and (min-width: 1501px), screen and (min-height: 801px) {
   
    #allinventorywindow{
        display: none;
        position: absolute;
        width: 65%;
        height: 90%;
        left: 17.5%;
		top: 5%;
        color: white;
        text-align: center;
        pointer-events: all;
    }

    #inventoryoffset {
    	position: absolute;
    	left:20%;
    	top:2%;
		pointer-events: all;
    }
    
	#characterItemBackpack {
		position:absolute;
		top:23px;
		left:0;
	}
	
    #inventory0, #inventory1, #inventory2, #inventory3, #inventory4, #inventory5, #inventory6, #inventory7, #inventory8, #inventory9, #inventory10, #inventory11, #inventory12, #inventory13, #inventory14, #inventory15, #inventory16, #inventory17, #inventory18, #inventory19, #inventory20, #inventory21, #inventory22, #inventory23, #inventory24, #inventory25, #inventory26, #inventory27, #inventory28, #inventory29 {
        position: absolute;
        left:3px;
        top:3px;
        width: 48px;
        height: 48px;
        background-color: rgba(0, 0, 0, 0);
	cursor: pointer;
	pointer-events: all;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	line-height:48px;
	color: #ff0;
	font-family: 'GraphicPixel';
	font-size:18px;
	text-align:center;
    }
    #inventorybackground0,#inventorybackground1,#inventorybackground2,#inventorybackground3,#inventorybackground4,#inventorybackground5,#inventorybackground6, #inventorybackground7, #inventorybackground8, #inventorybackground9, #inventorybackground10, #inventorybackground11, #inventorybackground12, #inventorybackground13, #inventorybackground14, #inventorybackground15, #inventorybackground16, #inventorybackground17, #inventorybackground18, #inventorybackground19, #inventorybackground20, #inventorybackground21, #inventorybackground22, #inventorybackground23, #inventorybackground24, #inventorybackground25, #inventorybackground26, #inventorybackground27, #inventorybackground28, #inventorybackground29 {
        position: absolute;
        width: 55px;
        height: 56px;
        background: url('../img/3/itembackground.png' ) no-repeat;
        pointer-events: all;
    }
    #inventorybackground0, #inventorybackground1, #inventorybackground2, #inventorybackground3, #inventorybackground4, #inventorybackground5{ top: 0px; }
    #inventorybackground6, #inventorybackground7, #inventorybackground8, #inventorybackground9, #inventorybackground10, #inventorybackground11{ top: 70px; }
    #inventorybackground12, #inventorybackground13, #inventorybackground14, #inventorybackground15, #inventorybackground16, #inventorybackground17{ top: 140px; }
    #inventorybackground18, #inventorybackground19, #inventorybackground20, #inventorybackground21, #inventorybackground22, #inventorybackground23{ top: 210px; }
    #inventorybackground24, #inventorybackground25, #inventorybackground26, #inventorybackground27, #inventorybackground28, #inventorybackground29{ top: 280px; }
    #inventorybackground0, #inventorybackground6, #inventorybackground12, #inventorybackground18, #inventorybackground24{ left: 0px; }
    #inventorybackground1, #inventorybackground7, #inventorybackground13, #inventorybackground19, #inventorybackground25{ left: 60px; }
    #inventorybackground2, #inventorybackground8, #inventorybackground14, #inventorybackground20, #inventorybackground26{ left: 120px; }
    #inventorybackground3, #inventorybackground9, #inventorybackground15, #inventorybackground21, #inventorybackground27{ left: 180px; }
    #inventorybackground4, #inventorybackground10, #inventorybackground16, #inventorybackground22, #inventorybackground28{ left: 240px; }
    #inventorybackground5, #inventorybackground11, #inventorybackground17, #inventorybackground23, #inventorybackground29{ left: 300px; }
    #inventorynumber0, #inventorynumber1, #inventorynumber2, #inventorynumber3, #inventorynumber4, #inventorynumber5, #inventorynumber6, #inventorynumber7, #inventorynumber8, #inventorynumber9, #inventorynumber10, #inventorynumber11, #inventorynumber12, #inventorynumber13, #inventorynumber14, #inventorynumber15, #inventorynumber16, #inventorynumber17, #inventorynumber18, #inventorynumber19, #inventorynumber20, #inventorynumber21, #inventorynumber22, #inventorynumber23, #inventorynumber24, #inventorynumber25, #inventorynumber26, #inventorynumber27, #inventorynumber28, #inventorynumber29 {
        position: absolute;
        width: 55px;
        height: 21px;
        /*border: 1px solid #9C9898;*/
        color: rgba(255, 255, 255, 1);
        text-align: center;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        font-family: 'GraphicPixel';
	font-size:18px;
        
    }
    #inventorynumber0, #inventorynumber1, #inventorynumber2, #inventorynumber3, #inventorynumber4, #inventorynumber5{ top: 53px; }
    #inventorynumber6, #inventorynumber7, #inventorynumber8, #inventorynumber9, #inventorynumber10, #inventorynumber11{ top: 122px; }
    #inventorynumber12, #inventorynumber13, #inventorynumber14, #inventorynumber15, #inventorynumber16, #inventorynumber17{ top: 192px; }
    #inventorynumber18, #inventorynumber19, #inventorynumber20, #inventorynumber21, #inventorynumber22, #inventorynumber23{ top: 261px; }
    #inventorynumber24, #inventorynumber25, #inventorynumber26, #inventorynumber27, #inventorynumber28, #inventorynumber29{ top: 344px; }
    #inventorynumber0, #inventorynumber6, #inventorynumber12, #inventorynumber18, #inventorynumber24{ left: 0px; }
    #inventorynumber1, #inventorynumber7, #inventorynumber13, #inventorynumber19, #inventorynumber25{ left: 60px; }
    #inventorynumber2, #inventorynumber8, #inventorynumber14, #inventorynumber20, #inventorynumber26{ left: 120px; }
    #inventorynumber3, #inventorynumber9, #inventorynumber15, #inventorynumber21, #inventorynumber27{ left: 180px; }
    #inventorynumber4, #inventorynumber10, #inventorynumber16, #inventorynumber22, #inventorynumber28{ left: 240px; }
    #inventorynumber5, #inventorynumber11, #inventorynumber17, #inventorynumber23, #inventorynumber29{ left: 300px; }

     #inventory0Cooltime,  #inventory1Cooltime,  #inventory2Cooltime,  #inventory3Cooltime, #inventory4Cooltime,  #inventory5Cooltime {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 48px;
        height: 48px;
        background-color: rgba(255, 0, 0, 0.5);
        text-align: center;
        font-size: 21px;
        color: white;
        cursor: default;
        display: none;
    }
    
    #inventoryCloseButton {
	    position: absolute;
	    right: 2px;
	    top: 36px;
	    width: 32px;
	    height: 32px;
	    cursor: pointer;
	    z-index:15;
		background: url('../img/2/close-button.png' ) no-repeat;
	    pointer-events: all;
    }

	/* Character - Equipment */
	#characterDialogFrameStatePage 
	{
		position:absolute;
		left:2%;
		top:2%;
	}
    #characterItemWeapon, #characterItemArmor
	{
		margin-left:3px;
		margin-top:3px;
        width: 48px;
        height: 45px;
        background-position: 0px 0px;
		font-family: 'GraphicPixel';
		text-align:center;
    }
    
	#characterItemArmorBox
	{
    	position:absolute;
        left: 0;
        top: 0;	
	}
	#characterItemWeaponBox
	{
    	position:absolute;
        left: 0;
        top: 100px;
	}
	#characterItemGoldBox
	{
    	position:absolute;
        left: 0;
        top: 200px;
	}

	#characterItemArmorBox span,
	#characterItemWeaponBox span,
	#characterItemGoldBox span
	{
		text-align:center;
	}
	
    #characterItemWeaponBackground
    {
		margin-top:3px;
        width: 55px;
        height: 56px;        
    	background-image: url('../img/3/itembackground.png');	    
    }
    
    #characterItemArmorBackground
    {
		margin-top:3px;
        width: 55px;
        height: 56px;        
    	background-image: url('../img/3/itembackground.png');    
    }
    #characterItemWeaponNumber {
    	position:absolute;
        left: 0;
        top: 78px;
        width: 55px;
        height: 18px;
		font-size:18px;
        color: #fff;
        text-align: center;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
		font-family: 'GraphicPixel';
		
    }
    #characterItemArmorNumber {
    	position:absolute;
        left: 0;
        top: 78px;
        width: 55px;
        height: 18px;
		font-size:18px;
        color: #fff;
        text-align: center;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
		font-family: 'GraphicPixel';
    }

    #inventoryGoldBackground {
		position:absolute;
    	margin-top:3px;
        width: 55px;
        height: 55px;        
        background: url('../img/3/itembackground.png') no-repeat;     	    
    }
    #inventoryGoldBody {
        position: absolute;
        left:3px;
        top:3px;
    	width: 48px;
        height: 48px;
        background: url('../img/3/item-gold.png') no-repeat;    	    
    }
    #inventoryGoldBackground .inventoryGold {
    	position:absolute;
        left: 0;
        top: 61px;
        width: 55px;
        height: 18px;
		font-size:18px;
        color: #fff;
        text-align: center;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
		font-family: 'GraphicPixel';		
    }	
}

@media screen and (max-width: 1500px), screen and (max-height: 870px) {
   
    #allinventorywindow{
        display: none;
        position: absolute;
        width: 65%;
        height: 90%;
        left: 17.5%;
		top: 5%;
        color: white;
        text-align: center;
        pointer-events: all;
    }

    #inventoryoffset {
    	position: absolute;
    	left:16%;
    	top:2%;
		pointer-events: all;
    }
    
	#characterItemBackpack {
		position:absolute;
		top:17px;
		left:0;
	}
	
    #inventory0, #inventory1, #inventory2, #inventory3, #inventory4, #inventory5, #inventory6, #inventory7, #inventory8, #inventory9, #inventory10, #inventory11, #inventory12, #inventory13, #inventory14, #inventory15, #inventory16, #inventory17, #inventory18, #inventory19, #inventory20, #inventory21, #inventory22, #inventory23, #inventory24, #inventory25, #inventory26, #inventory27, #inventory28, #inventory29 {
        position: absolute;
        left:3px;
        top:3px;
        width: 48px;
        height: 48px;
        background-color: rgba(0, 0, 0, 0);
		cursor: pointer;
		pointer-events: all;
		text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
		line-height:48px;
		color: #ff0;
		font-family: 'GraphicPixel';
		font-size:18px;
		text-align:center;
    }

    #inventorybackground0,#inventorybackground1,#inventorybackground2,#inventorybackground3,#inventorybackground4,#inventorybackground5,#inventorybackground6, #inventorybackground7, #inventorybackground8, #inventorybackground9, #inventorybackground10, #inventorybackground11, #inventorybackground12, #inventorybackground13, #inventorybackground14, #inventorybackground15, #inventorybackground16, #inventorybackground17, #inventorybackground18, #inventorybackground19, #inventorybackground20, #inventorybackground21, #inventorybackground22, #inventorybackground23, #inventorybackground24, #inventorybackground25, #inventorybackground26, #inventorybackground27, #inventorybackground28, #inventorybackground29 {
        position: absolute;
        width: 55px;
        height: 56px;
        background: url('../img/3/itembackground.png' ) no-repeat;
        pointer-events: all;
    }
    #inventorybackground0, #inventorybackground1, #inventorybackground2, #inventorybackground3, #inventorybackground4, #inventorybackground5{ top: 0px; }
    #inventorybackground6, #inventorybackground7, #inventorybackground8, #inventorybackground9, #inventorybackground10, #inventorybackground11{ top: 70px; }
    #inventorybackground12, #inventorybackground13, #inventorybackground14, #inventorybackground15, #inventorybackground16, #inventorybackground17{ top: 140px; }
    #inventorybackground18, #inventorybackground19, #inventorybackground20, #inventorybackground21, #inventorybackground22, #inventorybackground23{ top: 210px; }
    #inventorybackground24, #inventorybackground25, #inventorybackground26, #inventorybackground27, #inventorybackground28, #inventorybackground29{ top: 280px; }
    #inventorybackground0, #inventorybackground6, #inventorybackground12, #inventorybackground18, #inventorybackground24{ left: 0px; }
    #inventorybackground1, #inventorybackground7, #inventorybackground13, #inventorybackground19, #inventorybackground25{ left: 60px; }
    #inventorybackground2, #inventorybackground8, #inventorybackground14, #inventorybackground20, #inventorybackground26{ left: 120px; }
    #inventorybackground3, #inventorybackground9, #inventorybackground15, #inventorybackground21, #inventorybackground27{ left: 180px; }
    #inventorybackground4, #inventorybackground10, #inventorybackground16, #inventorybackground22, #inventorybackground28{ left: 240px; }
    #inventorybackground5, #inventorybackground11, #inventorybackground17, #inventorybackground23, #inventorybackground29{ left: 300px; }
    #inventorynumber0, #inventorynumber1, #inventorynumber2, #inventorynumber3, #inventorynumber4, #inventorynumber5, #inventorynumber6, #inventorynumber7, #inventorynumber8, #inventorynumber9, #inventorynumber10, #inventorynumber11, #inventorynumber12, #inventorynumber13, #inventorynumber14, #inventorynumber15, #inventorynumber16, #inventorynumber17, #inventorynumber18, #inventorynumber19, #inventorynumber20, #inventorynumber21, #inventorynumber22, #inventorynumber23, #inventorynumber24, #inventorynumber25, #inventorynumber26, #inventorynumber27, #inventorynumber28, #inventorynumber29 {
        position: absolute;
        width: 55px;
        height: 21px;
        /*border: 1px solid #9C9898;*/
        color: rgba(255, 255, 255, 1);
        text-align: center;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        font-family: 'GraphicPixel';
		font-size:18px;
    }

    #inventorynumber0, #inventorynumber1, #inventorynumber2, #inventorynumber3, #inventorynumber4, #inventorynumber5{ top: 53px; }
    #inventorynumber6, #inventorynumber7, #inventorynumber8, #inventorynumber9, #inventorynumber10, #inventorynumber11{ top: 122px; }
    #inventorynumber12, #inventorynumber13, #inventorynumber14, #inventorynumber15, #inventorynumber16, #inventorynumber17{ top: 192px; }
    #inventorynumber18, #inventorynumber19, #inventorynumber20, #inventorynumber21, #inventorynumber22, #inventorynumber23{ top: 261px; }
    #inventorynumber24, #inventorynumber25, #inventorynumber26, #inventorynumber27, #inventorynumber28, #inventorynumber29{ top: 344px; }
    #inventorynumber0, #inventorynumber6, #inventorynumber12, #inventorynumber18, #inventorynumber24{ left: 0px; }
    #inventorynumber1, #inventorynumber7, #inventorynumber13, #inventorynumber19, #inventorynumber25{ left: 60px; }
    #inventorynumber2, #inventorynumber8, #inventorynumber14, #inventorynumber20, #inventorynumber26{ left: 120px; }
    #inventorynumber3, #inventorynumber9, #inventorynumber15, #inventorynumber21, #inventorynumber27{ left: 180px; }
    #inventorynumber4, #inventorynumber10, #inventorynumber16, #inventorynumber22, #inventorynumber28{ left: 240px; }
    #inventorynumber5, #inventorynumber11, #inventorynumber17, #inventorynumber23, #inventorynumber29{ left: 300px; }

     #inventory0Cooltime,  #inventory1Cooltime,  #inventory2Cooltime,  #inventory3Cooltime, #inventory4Cooltime,  #inventory5Cooltime {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 48px;
        height: 48px;
        background-color: rgba(255, 0, 0, 0.5);
        text-align: center;
        font-size: 21px;
        color: white;
        cursor: default;
        display: none;
    }
    
    #inventoryCloseButton {
	    position: absolute;
	    right: 4px;
	    top: 36px;
	    width: 32px;
	    height: 32px;
	    cursor: pointer;
	    z-index:15;
		background: url('../img/2/close-button.png' ) no-repeat;
	    pointer-events: all;
    } 
	
	/* Character - Equipment */
	#characterDialogFrameStatePage 
	{
		position:absolute;
		left:2%;
		top:2%;
	}
    #characterItemWeapon, #characterItemArmor
	{
		margin-left:2px;
		margin-top:2px;
        width: 48px;
        height: 45px;
        background-position: 0px 0px;
		font-family: 'GraphicPixel';
		text-align:center;
    }
    
	#characterItemArmorBox
	{
    	position:absolute;
        left: 0;
        top: 0;	
	}
	#characterItemWeaponBox
	{
    	position:absolute;
        left: 0;
        top: 95px;
	}
	#characterItemGoldBox
	{
    	position:absolute;
        left: 0;
        top: 190px;
	}

	#characterItemArmorBox span,
	#characterItemWeaponBox span,
	#characterItemGoldBox span
	{
		text-align:center;
	}
	
    #characterItemWeaponBackground
    {
		margin-top:3px;
        width: 55px;
        height: 56px;        
    	background-image: url('../img/3/itembackground.png');	    
    }
    
    #characterItemArmorBackground
    {
		margin-top:3px;
        width: 55px;
        height: 56px;        
    	background-image: url('../img/3/itembackground.png');    
    }
    #characterItemWeaponNumber {
    	position:absolute;
        left: 0;
        top: 71px;
        width: 55px;
        height: 18px;
	font-size:18px;
        color: #fff;
        text-align: center;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;	
		font-family: 'GraphicPixel';
    }
    #characterItemArmorNumber {
    	position:absolute;
        left: 0;
        top: 71px;
        width: 55px;
        height: 18px;
	font-size:18px;
        color: #fff;
        text-align: center;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;	
		font-family: 'GraphicPixel';
    }

    #inventoryGoldBackground {
		position:absolute;
    	margin-top:3px;
        width: 55px;
        height: 56px;        
        background: url('../img/3/itembackground.png') no-repeat;     	    
    }
    #inventoryGoldBody {
        position: absolute;
        left:3px;
        top:3px;
    	width: 48px;
        height: 48px;
        background: url('../img/3/item-gold.png') no-repeat;    	    
    }
    #inventoryGoldBackground .inventoryGold {
    	position:absolute;
        left: 0;
        top: 53px;
        width: 55px;
        height: 18px;
		font-size:18px;
        color: #fff;
        text-align: center;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
		font-family: 'GraphicPixel';
    }	
}

@media screen and (max-width: 1000px) {
    #allinventorywindow{
        display: none;
        position: absolute;
        width: 145px;
        height: 121px;
        bottom: 0px;
        left: 50%;
        margin-left: -72px;
        color: white;
        text-align: center;
        pointer-events: all;
		zoom:1.35;
    }

    #inventoryoffset {
    	position: absolute;
    	left:13px;
    	top:5px;
    }
    
    #inventory0, #inventory1, #inventory2, #inventory3, #inventory4, #inventory5, #inventory6, #inventory7, #inventory8, #inventory9, #inventory10, #inventory11, #inventory12, #inventory13, #inventory14, #inventory15, #inventory16, #inventory17, #inventory18, #inventory19, #inventory20, #inventory21, #inventory22, #inventory23, #inventory24, #inventory25, #inventory26, #inventory27, #inventory28, #inventory29 {
        position: absolute;
        left:1px;
        top:1px;
        width: 16px;
        height: 15px;
        background-color: rgba(0, 0, 0, 0);
	cursor: pointer;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	line-height:16px;
	color: #ff0;
	font-family: 'GraphicPixel';
	font-size:6px;
	text-align:center;

    }
    #inventorybackground0,#inventorybackground1,#inventorybackground2,#inventorybackground3,#inventorybackground4,#inventorybackground5,#inventorybackground6, #inventorybackground7, #inventorybackground8, #inventorybackground9, #inventorybackground10, #inventorybackground11, #inventorybackground12, #inventorybackground13, #inventorybackground14, #inventorybackground15, #inventorybackground16, #inventorybackground17, #inventorybackground18, #inventorybackground19, #inventorybackground20, #inventorybackground21, #inventorybackground22, #inventorybackground23, #inventorybackground24, #inventorybackground25, #inventorybackground26, #inventorybackground27, #inventorybackground28, #inventorybackground29 {
        position: absolute;
        width: 18px;
        height: 18px;
        background: url('../img/1/itembackground.png' ) no-repeat;
    }
    #inventorybackground0, #inventorybackground1, #inventorybackground2, #inventorybackground3, #inventorybackground4, #inventorybackground5{ top: 0px; }
    #inventorybackground6, #inventorybackground7, #inventorybackground8, #inventorybackground9, #inventorybackground10, #inventorybackground11{ top: 24px; }
    #inventorybackground12, #inventorybackground13, #inventorybackground14, #inventorybackground15, #inventorybackground16, #inventorybackground17{ top: 48px; }
    #inventorybackground18, #inventorybackground19, #inventorybackground20, #inventorybackground21, #inventorybackground22, #inventorybackground23{ top: 72px; }
    #inventorybackground24, #inventorybackground25, #inventorybackground26, #inventorybackground27, #inventorybackground28, #inventorybackground29{ top: 96px; }
    #inventorybackground0, #inventorybackground6, #inventorybackground12, #inventorybackground18, #inventorybackground24{ left: 0px; }
    #inventorybackground1, #inventorybackground7, #inventorybackground13, #inventorybackground19, #inventorybackground25{ left: 20px; }
    #inventorybackground2, #inventorybackground8, #inventorybackground14, #inventorybackground20, #inventorybackground26{ left: 40px; }
    #inventorybackground3, #inventorybackground9, #inventorybackground15, #inventorybackground21, #inventorybackground27{ left: 60px; }
    #inventorybackground4, #inventorybackground10, #inventorybackground16, #inventorybackground22, #inventorybackground28{ left: 80px; }
    #inventorybackground5, #inventorybackground11, #inventorybackground17, #inventorybackground23, #inventorybackground29{ left: 100px; }
    #inventorynumber0, #inventorynumber1, #inventorynumber2, #inventorynumber3, #inventorynumber4, #inventorynumber5, #inventorynumber6, #inventorynumber7, #inventorynumber8, #inventorynumber9, #inventorynumber10, #inventorynumber11, #inventorynumber12, #inventorynumber13, #inventorynumber14, #inventorynumber15, #inventorynumber16, #inventorynumber17, #inventorynumber18, #inventorynumber19, #inventorynumber20, #inventorynumber21, #inventorynumber22, #inventorynumber23, #inventorynumber24, #inventorynumber25, #inventorynumber26, #inventorynumber27, #inventorynumber28, #inventorynumber29 {
        position: absolute;
        width: 18px;
        height: 7px;
        /*border: 1px solid #9C9898;*/
        color: rgba(255, 255, 255, 1);
        text-align: center;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        font-family: 'GraphicPixel';
	font-size:6px;
    }
    #inventorynumber0, #inventorynumber1, #inventorynumber2, #inventorynumber3, #inventorynumber4, #inventorynumber5{ top: 20px; }
    #inventorynumber6, #inventorynumber7, #inventorynumber8, #inventorynumber9, #inventorynumber10, #inventorynumber11{ top: 44px; }
    #inventorynumber12, #inventorynumber13, #inventorynumber14, #inventorynumber15, #inventorynumber16, #inventorynumber17{ top: 68px; }
    #inventorynumber18, #inventorynumber19, #inventorynumber20, #inventorynumber21, #inventorynumber22, #inventorynumber23{ top: 92px; }
    #inventorynumber24, #inventorynumber25, #inventorynumber26, #inventorynumber27, #inventorynumber28, #inventorynumber29{ top: 116px; }
    #inventorynumber0, #inventorynumber6, #inventorynumber12, #inventorynumber18, #inventorynumber24{ left: 0px; }
    #inventorynumber1, #inventorynumber7, #inventorynumber13, #inventorynumber19, #inventorynumber25{ left: 20px; }
    #inventorynumber2, #inventorynumber8, #inventorynumber14, #inventorynumber20, #inventorynumber26{ left: 40px; }
    #inventorynumber3, #inventorynumber9, #inventorynumber15, #inventorynumber21, #inventorynumber27{ left: 60px; }
    #inventorynumber4, #inventorynumber10, #inventorynumber16, #inventorynumber22, #inventorynumber28{ left: 80px; }
    #inventorynumber5, #inventorynumber11, #inventorynumber17, #inventorynumber23, #inventorynumber29{ left: 100px; }

     #inventory0Cooltime,  #inventory1Cooltime,  #inventory2Cooltime,  #inventory3Cooltime, #inventory4Cooltime,  #inventory5Cooltime {
        position: absolute;
        left: 1px;
        top: 1px;
        width: 16px;
        height: 16px;
        background-color: rgba(255, 0, 0, 0.5);
        text-align: center;
        font-size: 7px;
        color: white;
        cursor: default;
        display: none;
    }
    
    #inventoryCloseButton {
	    position: absolute;
	    left: 130px;
	    top: 3px;
	    width: 11px;
	    height: 11px;
	    cursor: pointer;
	    pointer-events: all;
	    /*border:1px solid #0f0;*/
	    z-index:1;    
    }   
}


