#leaderboard {
	display:none;
	cursor: pointer;
	pointer-events: all;	
}


@media screen and (min-width: 1501px), screen and (min-height: 801px) {
	#leaderboard label
	{
		display:inline-block;
		width: 100px;
	}
	
	#leaderboard select {
		font-family:'GraphicPixel';
		font-size:18px;
	}
	
	#lbdata * {
		color:#fff;
		font-size:18px;
		font-family:'GraphicPixel';
	}
	
	#lbdata table {
		width:100%;
	}
	#lbdata td, #lbdata th { 
		padding: 3px;
		text-align:left;
		
	}	
	#lbdata table tr.lbplayer td {
		background-color: #fff;	
	}

}

@media screen and (max-width: 1500px), screen and (max-height: 870px) {
	#leaderboard label
	{
		display:inline-block;
		width: 66px;
	}

	#leaderboard select {
		font-family:'GraphicPixel';
		font-size:12px;
	}
		
	#lbdata * {
		color:#fff;	
	}

	#lbdata * {
		color:#fff;
		font-size:12px;
		font-family:'GraphicPixel';
	}
	
	#lbdata table {
		width:100%;
	}
	#lbdata td, #lbdata th { 
		padding: 2px;
		text-align:left;
		
	}	
	#lbdata table tr.lbplayer td {
		background-color: #fff;	
	}
	
}

@media screen and (max-width: 1000px) {
	#leaderboard label
	{
		display:inline-block;
		width: 33px;
	}

	#leaderboard select {
		font-family:'GraphicPixel';
		font-size:6px;
	}
			
	#lbdata * {
		color:#fff;
		font-size:6px;
		font-family:'GraphicPixel';
	}
	
	#lbdata table {
		width:100%;
	}
	#lbdata td, #lbdata th { 
		padding: 1px;
		text-align:left;
	}
	#lbdata table tr.lbplayer td {
		background-color: #fff;	
	}
	
}
