#selectClassSwitch2 {
	pointer-events:auto;	
}

#loginwindow input  {
	font-family:'GraphicPixel';
	width:50%;
	text-align:center;
	color:#000;
	box-sizing: none;
}
#loginwindow input:focus {
	color:#000;
}

#loginwindow input:-webkit-autofill,
#loginwindow input:-webkit-autofill:hover,
#loginwindow input:-webkit-autofill:focus,
#loginwindow input:-webkit-autofill:active {
    -webkit-animation: autofill 0s forwards;
    animation: autofill 0s forwards;
    color:#000;
}

@keyframes autofill {
    100% {
        color:#000;
    }
}
@-webkit-keyframes autofill {
    100% {
        color:#000;
    }
}

#loginwindow input.field-error {
	background:rgba(255,0,0,0.1);border-color:#f84444;
}

#loadcharacter input[type=text],
#loadcharacter input[type=password] 
{background-color:#fff !important; border: 3px solid black; }

#registerwindow {
	display: none;
}

#registerwindow input[type=text],
#registerwindow input[type=password] 
{background-color:#fff !important; border: 3px solid black; }

#registerwindow input  {
	font-family:'GraphicPixel';
	width:50%;
	text-align:center;
	color:#000;
	box-sizing: none;
	background:transparent;
}

#registerwindow input:focus {
	color:#000;
}

#registerwindow input:-webkit-autofill,
#registerwindow input:-webkit-autofill:hover,
#registerwindow input:-webkit-autofill:focus,
#registerwindow input:-webkit-autofill:active {
    -webkit-animation: autofill 0s forwards;
    animation: autofill 0s forwards;
    color:#000;
}

#passwordwindow {
	display: none;	
}
#errorwindow {
	display: none;	
}
#diedwindow {
	display: none;	
}

@media screen and (min-width: 1501px), screen and (min-height: 801px) {

	#loginwindow {
		position:absolute;
		width:500px;
		height:500px;
		top:50%;
		left:50%;
		margin-top:-250px;
		margin-left:-250px;
	}

	#loginwindow {font-size:18px;}
	#loginwindow input {font-size:18px;}

	#loadcharacter .validation-summary {
		position:absolute;
		top:255px;
		left:46px;
		width:250px;
		height:40px;
		color:white;
		font-size:18px;
		font-family: 'GraphicPixel';
	}

	#loadcharacter .validation-error {
		color: red;
		font-family: 'GraphicPixel';
	}
	
	#loginUsername {
		position:absolute;
		top:104px;
		left:90px;
	}
	#loginPassword {
		position:absolute;
		top:174px;
		left:90px;		
		
	}
	#loginRemember {
		position:absolute;
		top:265px;
		left:270px;		
	}
	
	#loginnameinput {
		position:absolute;
		top:104px;
		left:194px;
	}
	#loginpwinput {
		position:absolute;
		top:174px;
		left:194px;
	}
	
	#loginsave {
		position:absolute;
		top:257px;
		left:334px;
		width:32px;
		height:32px;
		cursor: pointer;
	}

	#linkloginplay {
		position:absolute;
		bottom:10%;
		left:10%;
		width:150px;
		height:50px;
		line-height:40px;
		cursor: pointer;
	}
	
	#linkcreateplay {
		position:absolute;
		bottom:10%;
		right:10%;
		width:150px;
		height:50px;
		line-height:40px;
		cursor: pointer;
	}
	
	#linkcreatenew {
		position:absolute;
		bottom:10%;
		right:10%;
		width:150px;
		height:50px;
		line-height:40px;
		cursor: pointer;
	}

	#registerwindow {
		position:absolute;
		width:500px;
		height:500px;
		top:50%;
		left:50%;
		margin-top:-250px;
		margin-left:-250px;
		display:none;
	}
	#registerwindow, #registerwindow input {font-size:18px;}
	
	#createcharacter .validation-summary {
		position:absolute;
		top:255px;
		left:46px;
		width:250px;
		height:50px;
		color:white;
		font-size:18px;
		font-family: 'GraphicPixel';
	}
	#createcharacter .validation-error {
		color: red;
		font-family: 'GraphicPixel';
	}
	#createUsername, #createPassword, #createPassword2, #createEmail, #createClass {
		position:absolute;
		width:150px;
		text-align:right;
		left:30px;
	}
	#createUsername {
		top:44px;	
	}
	#createPassword {
		top:104px;		
	}
	#createPassword2 {
		top:164px;		
	}
	#createClass {
		top:224px;	
	}
	
	#nameinput {
		position:absolute;
		top:44px;
		left:204px;
	}
	#pwinput {
		position:absolute;
		top:104px;
		left:204px;
	}
	#pwinput2 {
		position:absolute;
		top:164px;
		left:204px;
	}
	
	#classSwitch2 {
		position:absolute;
		top:224px;
		left:204px;
	}
	
	
	#linkcreateback {
		position:absolute;
		bottom:10%;
		left:10%;
		width:169px;
		height:50px;
		line-height:40px;
		cursor: pointer;
	}
	
	#errorwindow, .alert {
		position:absolute;
		z-index:100;
	}
	#errorwindow {
		display:none;
	}
	
	.errordetails {
		position:absolute;
		top:2%;
		left:2%;
		width:96%;
		color:#fff;
		font-size:18px;
		font-family:'GraphicPixel';
		text-align:center;
	}
	.errorback {
		position:absolute;
		bottom:2%;
		left:35%;
	}
	
	#diedwindow {
		display:none;
		z-index:50;
		cursor: default;
		pointer-events: all;
	}
	#respawn {
		position:absolute;
		top:130px;
		left:182px;
		width:169px;
		height:40px;
		cursor: pointer;
		pointer-events:all;
	}
}

@media screen and (max-width: 1500px), screen and (max-height: 870px) {	

	#loginwindow {font-size:12px;}
	
	#loginwindow input {font-size:12px;}

	#loadcharacter .validation-summary {
		position:absolute;
		top:175px;
		left:35px;
		width:200px;
		font-size:12px;
		font-family: 'GraphicPixel';
	}

	#loadcharacter .validation-error {
		color: red;
		font-family: 'GraphicPixel';
	}
	
	#loginUsername {
		position:absolute;
		top:52px;
		left:60px;		
	}
	#loginPassword {
		position:absolute;
		top:100px;
		left:60px;		
		
	}
	#loginRemember {
		position:absolute;
		top:160px;
		left:120px;		
	}
	
	#loginnameinput {
		position:absolute;
		top:52px;
		left:138px;
	}
	#loginpwinput {
		position:absolute;
		top:100px;
		left:138px;
	}
	
	#loginsave {
		position:absolute;
		top:154px;
		right:0;
		width:32px;
		height:32px;
	}
		
	#linkloginplay {
		position:absolute;
		bottom:10%;
		left:10%;
		width:112px;
		height:32px;
		line-height:30px;
	}
	
	#linkcreateplay {
		position:absolute;
		bottom:10%;
		right:10%;
		width:112px;
		height:32px;
		line-height:30px;
	}

	#linkcreatenew {
		position:absolute;
		bottom:10%;
		right:10%;
		width:112px;
		height:32px;
		line-height:30px;
	}

	#registerwindow, #registerwindow input {font-family:'GraphicPixel';font-size:12px;color:#fff;}

	#createcharacter .validation-summary {
		position:absolute;
		top:175px;
		left:35px;
		width:200px;
		font-size:12px;
		font-family: 'GraphicPixel';
	}
	#createcharacter .validation-error {
		color: red;
		font-family: 'GraphicPixel';
	}
	
	#createUsername, #createPassword, #createPassword2, #createEmail, #createClass {
		position:absolute;
		width:100px;
		text-align:right;
		left:20px;
	}
	#createUsername {
		top:42px;
	}
	#createPassword {
		top:82px;		
	}
	#createPassword2 {
		top:122px;		
	}
	#createClass {
		top:162px;	
	}

	#nameinput {
		position:absolute;
		top:42px;
		left:139px;
	}
	#pwinput {
		position:absolute;
		top:82px;
		left:139px;
	}
	#pwinput2 {
		position:absolute;
		top:122px;
		left:139px;
	}
	
	#classSwitch2 {
		position:absolute;
		top:162px;
		left:139px;
	}
	
	
	#linkcreateback {
		position:absolute;
		bottom:10%;
		left:10%;
		width:112px;
		height:32px;
		line-height:30px;
		cursor: pointer;
	}

	#errorwindow, .alert {
		z-index:100;
	}
	#errorwindow {
		display:none;
	}
	
	.errordetails {
		position:absolute;
		top:2%;
		left:2%;
		width:96%;
		color:#fff;
		font-size:12px;
		font-family:'GraphicPixel';
		text-align:center;
	}
	.errorback {
		position:absolute;
		bottom:2%;
		left:35%;
	}
	
	
	#diedwindow {
		display:none;
		z-index:50;
		cursor: default;
		pointer-events: all;
	}
	#respawn {
		position:absolute;
		top:86px;
		left:121px;
		width:112px;
		height:27px;
		cursor: pointer;
		pointer-events: all;
	}
	
}

@media screen and (max-width: 1000px) {

	#loginwindow,
	#registerwindow
	{
		font-size:6px;
		width:275px;
		height:275px;
		left:50%;
		top:50%;
		margin-left:-137px;
		margin-top:-137px;
	}
	
	#loginwindow input {font-size:6px;}

	#loadcharacter .validation-summary {
		position:absolute;
		top:50%;
		left:5%;
		width:100px;
		font-size:6px;
		font-family: 'GraphicPixel';
	}

	#loadcharacter .validation-error {
		color: red;
		font-family: 'GraphicPixel';
	}
	
	#loginUsername {
		position:absolute;
		top:26px;
		left:30px;	
	}
	#loginPassword {
		position:absolute;
		top:50px;
		left:30px;		
		
	}
	#loginRemember {
		position:absolute;
		top:80px;
		left:60px;		
	}
	
	#loginnameinput {
		position:absolute;
		top:26px;
		left:69px;
	}
	#loginpwinput {
		position:absolute;
		top:50px;
		left:69px;
	}
	
	#loginsave {
		position:absolute;
		top:77px;
		right:0;
		width:16px;
		height:16px;
	}
		
	#linkloginplay {
		position:absolute;
		bottom:5%;
		left:5%;
	}

	#linkcreatenew {
		position:absolute;
		bottom:5%;
		right:5%;
	}
	
	#linkcreateback {
		position:absolute;
		bottom:5%;
		left:5%;
	}
	
	#linkcreateplay {
		position:absolute;
		bottom:5%;
		right:5%;
	}

	#registerwindow, #registerwindow input {font-family:'GraphicPixel';font-size:6px;color:#fff;}

	#createcharacter .validation-summary {
		position:absolute;
		top:50%;
		left:5%;
		width:100px;
		font-size:6px;
		font-family: 'GraphicPixel';
	}
	#createcharacter .validation-error {
		color: red;
		font-family: 'GraphicPixel';
	}
	
	#createUsername, #createPassword, #createPassword2, #createEmail, #createClass {
		position:absolute;
		width:50px;
		text-align:right;
		left:10px;
	}
	#createUsername {
		top:21px;
	}
	#createPassword {
		top:41px;		
	}
	#createPassword2 {
		top:61px;		
	}
	#createClass {
		top:81px;
	}

	#registerwindow input[type=text],
	#registerwindow input[type=password],
	#registerwindow input {
		border:1px solid black;
	}

	#nameinput {
		position:absolute;
		top:21px;
		left:70px;
	}
	#pwinput {
		position:absolute;
		top:41px;
		left:70px;
	}
	#pwinput2 {
		position:absolute;
		top:61px;
		left:70px;
	}
	
	#classSwitch2 {
		position:absolute;
		top:81px;
		left:70px;
		border:1px solid black;
	}
	
	#errorwindow, .alert {
		z-index:100;
	}
	#errorwindow {
		display:none;
	}
	
	.errordetails {
		position:absolute;
		top:2%;
		left:2%;
		width:96%;
		color:#fff;
		font-size:6px;
		font-family:'GraphicPixel';
		text-align:center;
	}
	.errorback {
		position:absolute;
		bottom:2%;
		left:35%;
	}
	
	
	#diedwindow {
		display:none;
		z-index:50;
		cursor: default;
		pointer-events: all;
	}
	#respawn {
		position:absolute;
		top:43px;
		left:60px;
		width:56px;
		height:14px;
		cursor: pointer;
		pointer-events: all;
	}
}
