html, body {
  min-height:100vh !important;
  height:100vh !important;
}

#intro {
	min-height:100vh !important;
	resize:none;
}

#selectClassSwitch2 {
	pointer-events:auto;	
}

#loginwindow {
}

#loginwindow input  {
	font-family:'GraphicPixel';
	width:50%;
	text-align:center;
	color:#000;
	box-sizing: none;
}
#loginwindow input:focus {
	color:#000;
}

#loginwindow input:-webkit-autofill,
#loginwindow input:-webkit-autofill:hover,
#loginwindow input:-webkit-autofill:focus,
#loginwindow input:-webkit-autofill:active {
    -webkit-animation: autofill 0s forwards;
    animation: autofill 0s forwards;
    color:#000;
}

@keyframes autofill {
    100% {
        color:#000;
    }
}
@-webkit-keyframes autofill {
    100% {
        color:#000;
    }
}

#loginwindow input.field-error {
	background:rgba(255,0,0,0.1);border-color:#f84444;
}

#loadcharacter input[type=text],
#loadcharacter input[type=password] 
{background-color:#fff !important; border: 3px solid black; }

#registerwindow {
	display: none;
}

#registerwindow input[type=text],
#registerwindow input[type=password] 
{background-color:#fff !important; border: 3px solid black; }

#registerwindow input  {
	font-family:'GraphicPixel';
	width:50%;
	text-align:center;
	color:#000;
	box-sizing: none;
	background:transparent;
}

#registerwindow input:focus {
	color:#000;
}

#registerwindow input:-webkit-autofill,
#registerwindow input:-webkit-autofill:hover,
#registerwindow input:-webkit-autofill:focus,
#registerwindow input:-webkit-autofill:active {
    -webkit-animation: autofill 0s forwards;
    animation: autofill 0s forwards;
    color:#000;
}

#passwordwindow {
	display: none;	
}
#errorwindow {
	display: none;	
}
#diedwindow {
	display: none;	
}

@media screen and (min-width: 1501px), screen and (min-height: 801px) {

	#loginwindow {
		position:absolute;
		width:500px;
		height:500px;
		top:50%;
		left:50%;
		margin-top:-250px;
		margin-left:-250px;
	}

	#loginwindow {font-size:18px;}
	#loginwindow input {font-size:18px;}

	#loadcharacter .validation-summary {
		position:absolute;
		top:255px;
		left:46px;
		width:250px;
		height:40px;
		color:white;
		font-size:18px;
	}

	#loadcharacter .validation-error {
		color: red;
	}
	
	#loginUsername {
		position:absolute;
		top:104px;
		left:90px;
	}
	#loginPassword {
		position:absolute;
		top:174px;
		left:90px;		
		
	}
	#loginRemember {
		position:absolute;
		top:265px;
		left:270px;		
	}
	
	#loginnameinput {
		position:absolute;
		top:104px;
		left:194px;
	}
	#loginpwinput {
		position:absolute;
		top:174px;
		left:194px;
	}
	
	#loginsave {
		position:absolute;
		top:257px;
		left:334px;
		width:32px;
		height:32px;
		cursor: pointer;
	}

	#linkloginplay {
		position:absolute;
		bottom:10%;
		left:10%;
		width:150px;
		height:50px;
		line-height:46px;
		cursor: pointer;
	}
	
	#linkcreateplay {
		position:absolute;
		bottom:10%;
		right:10%;
		width:150px;
		height:50px;
		line-height:46px;
		cursor: pointer;
	}
	
	#linkcreatenew {
		position:absolute;
		bottom:10%;
		right:10%;
		width:150px;
		height:50px;
		line-height:46px;
		cursor: pointer;
	}

	#registerwindow {
		position:absolute;
		width:500px;
		height:500px;
		top:50%;
		left:50%;
		margin-top:-250px;
		margin-left:-250px;
		display:none;
	}
	#registerwindow, #registerwindow input {font-size:18px;}
	
	#createcharacter .validation-summary {
		position:absolute;
		top:255px;
		left:46px;
		width:250px;
		height:50px;
		color:white;
		font-size:18px;
	}
	#createcharacter .validation-error {
		color: red;
	}
	#createUsername, #createPassword, #createPassword2, #createEmail, #createClass {
		position:absolute;
		width:150px;
		text-align:right;
		left:30px;
	}
	#createUsername {
		top:44px;	
	}
	#createPassword {
		top:104px;		
	}
	#createPassword2 {
		top:164px;		
	}
	#createClass {
		top:224px;	
	}
	
	#nameinput {
		position:absolute;
		top:44px;
		left:204px;
	}
	#pwinput {
		position:absolute;
		top:104px;
		left:204px;
	}
	#pwinput2 {
		position:absolute;
		top:164px;
		left:204px;
	}
	
	#classSwitch2 {
		position:absolute;
		top:224px;
		left:204px;
	}
	
	
	#linkcreateback {
		position:absolute;
		bottom:10%;
		left:10%;
		width:169px;
		height:50px;
		line-height:46px;
		cursor: pointer;
	}
	
	#errorwindow, .alert {
		position:absolute;
		width:539px;
		height:449px;
		top:50%;
		left:50%;
		margin-top:-225px;
		margin-left:-270px;
		background:url('../img/3/errorwindow.png') no-repeat !important;
		z-index:10;
	}
	#errorwindow {
		display:none;
	}
	
	.errordetails {
		position:absolute;
		top:60px;
		left:35px;
		width:470px;
		color:#fff;
		font-size:18px;
		font-family:'GraphicPixel';
	}
	.errorback {
		position:absolute;
		top:371px;
		left:186px;
		width:169px;
		height:40px;
	}
	
	#diedwindow {
		position:absolute;
		width:532px;
		height:233px;
		top:50%;
		left:50%;
		margin-top:-116px;
		margin-left:-266px;
		background:url('../img/3/diedwindow.png') no-repeat !important;
		display:none;
		z-index:10;
		cursor: default;
		pointer-events: all;
	}
	#respawn {
		position:absolute;
		top:130px;
		left:182px;
		width:169px;
		height:40px;
		cursor: pointer;
		pointer-events:all;
	}
}

@media screen and (max-width: 1500px), screen and (max-height: 870px) {	
	#loginwindow {
		position:absolute;
		width:350px;
		height:350px;
		top:50%;
		left:50%;
		margin-top:-175px;
		margin-left:-175px;
	}

	#loginwindow {font-size:12px;}
	
	#loginwindow input {font-size:12px;}

	#loadcharacter .validation-summary {
		position:absolute;
		top:175px;
		left:35px;
		width:200px;
		font-size:12px;
	}

	#loadcharacter .validation-error {
		color: red;
	}
	
	#loginUsername {
		position:absolute;
		top:52px;
		left:60px;		
	}
	#loginPassword {
		position:absolute;
		top:100px;
		left:60px;		
		
	}
	#loginRemember {
		position:absolute;
		top:160px;
		left:180px;		
	}
	
	#loginnameinput {
		position:absolute;
		top:52px;
		left:138px;
	}
	#loginpwinput {
		position:absolute;
		top:100px;
		left:138px;
	}
	
	#loginsave {
		position:absolute;
		top:154px;
		left:221px;
		width:24px;
		height:24px;
	}
		
	#linkloginplay {
		position:absolute;
		bottom:10%;
		left:10%;
		width:112px;
		height:32px;
	}
	
	#linkcreateplay {
		position:absolute;
		bottom:10%;
		right:10%;
		width:112px;
		height:32px;
	}

	#linkcreatenew {
		position:absolute;
		bottom:10%;
		right:10%;
		width:112px;
		height:32px;
	}
	
	#registerwindow {
		position:absolute;
		width:350px;
		height:350px;
		top:50%;
		left:50%;
		margin-top:-150px;
		margin-left:-150px;
		display:none;
	}

	#registerwindow, #registerwindow input {font-family:'GraphicPixel';font-size:12px;color:#fff;}

	#createcharacter .validation-summary {
		position:absolute;
		top:175px;
		left:35px;
		width:200px;
		font-size:12px;
	}
	#createcharacter .validation-error {
		color: red;
	}
	
	#createUsername, #createPassword, #createPassword2, #createEmail, #createClass {
		position:absolute;
		width:100px;
		text-align:right;
		left:20px;
	}
	#createUsername {
		top:42px;
	}
	#createPassword {
		top:82px;		
	}
	#createPassword2 {
		top:122px;		
	}
	#createClass {
		top:162px;	
	}

	#nameinput {
		position:absolute;
		top:42px;
		left:139px;
	}
	#pwinput {
		position:absolute;
		top:82px;
		left:139px;
	}
	#pwinput2 {
		position:absolute;
		top:122px;
		left:139px;
	}
	
	#classSwitch2 {
		position:absolute;
		top:162px;
		left:139px;
	}
	
	
	#linkcreateback {
		position:absolute;
		bottom:10%;
		left:10%;
		width:112px;
		height:32px;
		cursor: pointer;
	}

	#errorwindow, .alert {
		position:absolute;
		width:359px;
		height:299px;
		top:50%;
		left:50%;
		margin-top:-149px;
		margin-left:-179px;
		background:url('../img/2/errorwindow.png') no-repeat !important;
		z-index:10;
	}
	#errorwindow {
		display:none;
	}
	
	.errordetails {
		position:absolute;
		top:40px;
		left:23px;
		width:314px;
		color:#fff;
		font-size:12px;
		font-family:'GraphicPixel';
	}
	.errorback {
		position:absolute;
		top:247px;
		left:125px;
		width:112px;
		height:27px;
	}
	
	#diedwindow {
		position:absolute;
		width:355px;
		height:155px;
		top:50%;
		left:50%;
		margin-top:-77px;
		margin-left:-177px;
		background:url('../img/2/diedwindow.png') no-repeat !important;
		display:none;
		z-index:10;
		cursor: default;
		pointer-events: all;
	}
	#respawn {
		position:absolute;
		top:86px;
		left:121px;
		width:112px;
		height:27px;
		cursor: pointer;
		pointer-events: all;
	}
	
}

@media screen and (max-width: 1000px) {
	#loginwindow {
		position:absolute;
		margin:0;
		left:21%;
		top:5%;
		width:58%;
		height:90%;		
	}

	#loginwindow {font-size:8px;}
	
	#loginwindow input {font-size:8px;}

	#loadcharacter input[type=text],
	#loadcharacter input[type=password] 
	{border: 1px solid black; }

	#loadcharacter .validation-summary {
		position:absolute;
		top:70%;
		left:5%;
		width:200px;
		font-size:8px;
	}

	#loadcharacter .validation-error {
		color: red;
	}
	
	#loginUsername {
		position:absolute;
		top:10%;
		left:10%;	
	}
	#loginPassword {
		position:absolute;
		top:30%;
		left:10%;		
		
	}
	#loginRemember {
		position:absolute;
		top:50%;
		left:40%;		
	}
	
	#loginnameinput {
		position:absolute;
		top:10%;
		left:30%;
	}
	#loginpwinput {
		position:absolute;
		top:30%;
		left:30%;
	}
	
	#loginsave {
		position:absolute;
		top:50%;
		left:50%;
		width:24px;
		height:24px;
	}

	#linkloginplay {
		position:absolute;
		bottom:5%;
		left:5%;
		width:112px;
		height:32px;
	}
	
	#linkcreateplay {
		position:absolute;
		bottom:5%;
		right:5%;
		width:112px;
		height:32px;
	}

	#linkcreatenew {
		position:absolute;
		bottom:5%;
		right:5%;
		width:112px;
		height:32px;
	}
	
	#registerwindow {
		position:absolute;
		margin:0;
		left:21%;
		top:5%;
		width:58%;
		height:90%;		
	}

	#registerwindow, #registerwindow input {font-family:'GraphicPixel';font-size:12px;color:#fff;}
	
	#registerwindow input[type=text],
	#registerwindow input[type=password] 
	{border: 1px solid black; }
	
	#createcharacter .validation-summary {
		position:absolute;
		top:60%;
		left:10%;
		width:200px;
		font-size:12px;
	}
	#createcharacter .validation-error {
		color: red;
	}
	
	#createUsername, #createPassword, #createPassword2, #createEmail, #createClass {
		position:absolute;
		width:100px;
		text-align:right;
		left:20px;
	}
	#createUsername {
		top:5%;
	}
	#createPassword {
		top:20%;		
	}
	#createPassword2 {
		top:35%;		
	}
	#createClass {
		top:50%;	
	}

	#nameinput {
		position:absolute;
		top:5%;
		left:139px;
	}
	#pwinput {
		position:absolute;
		top:20%;
		left:139px;
	}
	#pwinput2 {
		position:absolute;
		top:35%;
		left:139px;
	}
	
	#classSwitch2 {
		position:absolute;
		top:50%;
		left:139px;
	}
	
	#linkcreateback {
		position:absolute;
		bottom:5%;
		left:5%;
		width:112px;
		height:32px;
		cursor: pointer;
	}

	#errorwindow, .alert {
		position:absolute;
		width:359px;
		height:299px;
		top:50%;
		left:50%;
		margin-top:-149px;
		margin-left:-179px;
		z-index:10;
	}
	#errorwindow {
		display:none;
	}
	
	.errordetails {
		position:absolute;
		top:40px;
		left:23px;
		width:314px;
		color:#fff;
		font-size:12px;
		font-family:'GraphicPixel';
	}
	.errorback {
		position:absolute;
		top:247px;
		left:125px;
		width:112px;
		height:27px;
	}
	
	#diedwindow {
		position:absolute;
		width:355px;
		height:155px;
		top:50%;
		left:50%;
		margin-top:-77px;
		margin-left:-177px;
		display:none;
		z-index:10;
		cursor: default;
		pointer-events: all;
	}
	#respawn {
		position:absolute;
		top:86px;
		left:121px;
		width:112px;
		height:27px;
		cursor: pointer;
		pointer-events: all;
	}	
}