#settings {
	display:none;
	color:#fff;
	cursor: pointer;
	pointer-events: all;		
}


@media screen and (min-width: 1501px), screen and (min-height: 801px) {
	
	#settingchat,
	#settingsound,
	#settingjoystick,
	#settingoptimized,
	#settingzoom
	{
		position:relative;
		display:inline-block;
		font-family: 'GraphicPixel';
		font-size:24px;
		color:#fff;
		width:200px;
	}
	
	#buttonchat,
	#buttonsound,
	#buttonjoystick,
	#buttonoptimized
	{
		position:relative;
		display:inline-block;
		text-align:center;
		pointer-events:all;
	}

	.cgamezoom
	{
		position:relative;
		display:inline-block;
		font-family: 'GraphicPixel';
		font-size:18px;
		background-color: black;
		width:126px;
		height:54px;
		overflow: hidden;
		color:#fff;
		text-align:center;
	}
		
	#settings div.active
	{
		color:#fff;
	}
	
}

@media screen and (max-width: 1500px), screen and (max-height: 870px) {
	
	#settingchat,
	#settingsound,
	#settingjoystick,
	#settingoptimized,
	#settingzoom
	{
		position:relative;
		display:inline-block;
		font-family: 'GraphicPixel';
		font-size:16px;
		color:#fff;
		width:133px;
	}
	
	#buttonchat,
	#buttonsound,
	#buttonjoystick,
	#buttonoptimized
	{
		position:relative;
		display:inline-block;
		text-align:center;
		pointer-events:all;
	}

	.cgamezoom
	{
		position:relative;
		display:inline-block;
		font-family: 'GraphicPixel';
		font-size:12px;
		background-color: black;
		width:84px;
		height:36px;
		overflow: hidden;
		color:#fff;
		text-align:center;
	}
		
	#settings div.active
	{
		color:#fff;
	}
}

@media screen and (max-width: 1000px) {
	
	#settingchat,
	#settingsound,
	#settingjoystick,
	#settingoptimized,
	#settingzoom
	{
		position:relative;
		display:inline-block;
		font-family: 'GraphicPixel';
		font-size:8px;
		color:#fff;
		width:66px;
	}
	
	#buttonchat,
	#buttonsound,
	#buttonjoystick,
	#buttonoptimized
	{
		position:relative;
		display:inline-block;
		text-align:center;
		pointer-events:all;
	}

	.cgamezoom
	{
		position:relative;
		display:inline-block;
		font-family: 'GraphicPixel';
		font-size:6px;
		background-color: black;
		width:42px;
		height:18px;
		overflow: hidden;
		color:#fff;
		text-align:center;
	}
		
	#settings div.active
	{
		color:#fff;
	}	
}

