#socialwindow {
	display: none;
}

@media screen and (min-width: 1501px), screen and (min-height: 801px) {
	#party {
		position: absolute;
		top: 10%;
		left: 5%;
		text-align: left;
		padding:48px 24px 24px 24px;
		width: 270px;
		height: 372px;
		color: white;
		text-align: center;
		opacity:0.75;
		cursor: pointer;
		pointer-events: all;		
	}

	#party * 
	{
		color: rgba(255, 255, 255, 1);
		font-size: 24px;
		text-align: center;
		margin:3px;
	}

    #partyconfirm {
        position: absolute;
        width: 150px;
        height: 99px;
        left: calc(50% - 75px);
        top: calc(50% - 50px);
        background: rgba(0, 0, 0, 0.5);
        display: none;
        pointer-events: all;
        cursor: hand;        
    }    
    #partyconfirm * 
    {
        color: rgba(255, 255, 255, 1);
        font-size: 24px;
        text-align: center;
        cursor: pointer;
    }	
    
    #partyclose
    {
    	position:absolute;
    	left:226px;
    	top:6px;
    	width:32px;
    	height:32px;
    	cursor: pointer;
    }
}

@media screen and (max-width: 1500px), screen and (max-height: 870px) {
	#party {
		position: absolute;
		top: 10%;
		left: 5%;
		text-align: left;
		padding:32px 16px 16px 16px;
		width: 178px;
		height: 293px;
		color: white;
		text-align: center;
		opacity:0.75;
		cursor: pointer;
		pointer-events: all;		
	}

	#party * 
	{
		color: rgba(255, 255, 255, 1);
		font-size: 16px;
		text-align: center;
		margin:2px;
	}
	
	
    #partyconfirm {
        position: absolute;
        width: 100px;
        height: 66px;
        left: calc(50% - 50px);
        top: calc(50% - 33px);
        background: rgba(0, 0, 0, 0.5);
        display: none;
        pointer-events: all;
        cursor: hand;
        
    }    
    #partyconfirm * 
    {
        color: rgba(255, 255, 255, 1);
        font-size: 16px;
        text-align: center;
        cursor: pointer;
    }
    
    #partyclose
    {
    	position:absolute;
    	left:151px;
    	top:4px;
    	width:21px;
    	height:21px;
    	cursor: pointer;
    }
    
}

@media screen and (max-width: 1000px) {
	#party {
		position: absolute;
		top: 10%;
		left: 5%;
		text-align: left;
		padding:16px 8px 8px 8px;
		width: 74px;
		height: 124px;
		color: white;
		text-align: center;
		opacity:0.75;
		cursor: pointer;
		pointer-events: all;
	}

	#party * 
	{
		color: rgba(255, 255, 255, 1);
		font-size: 8px;
		text-align: center;
		margin:1px;
	}
	
    #partyconfirm {
        position: absolute;
        width: 50px;
        height: 33px;
        left: calc(50% - 50px);
        top: calc(50% - 33px);
        background: rgba(0, 0, 0, 0.5);
        display: none;
        pointer-events: all;
        cursor: hand;
        
    }    
    #partyconfirm * 
    {
        color: rgba(255, 255, 255, 1);
        font-size: 8px;
        text-align: center;
        cursor: pointer;
    }
    
    #partyclose
    {
    	position:absolute;
    	left:76px;
    	top:2px;
    	width:11px;
    	height:11px;
    	cursor: pointer;
    }
    
}


@media screen and (min-width: 1501px), screen and (min-height: 801px) {
	#guild {
		position: absolute;
		top: 10%;
		left: 5%;
		text-align: left;
		padding:48px 24px 24px 24px;
		width: 270px;
		height: 372px;
		color: white;
		text-align: center;
		opacity:0.75;
		cursor: pointer;
		pointer-events: all;		
	}

	#guild * 
	{
		color: rgba(255, 255, 255, 1);
		font-size: 24px;
		text-align: center;
		margin:3px;
	}

    #guildconfirm {
        position: absolute;
        width: 150px;
        height: 99px;
        left: calc(50% - 75px);
        top: calc(50% - 50px);
        background: rgba(0, 0, 0, 0.5);
        display: none;
    }    
    #guildconfirm * 
    {
        color: rgba(255, 255, 255, 1);
        font-size: 24px;
        text-align: center;  
	cursor: pointer;
	pointer-events: all;		

    }	
    
    #guildclose
    {
    	position:absolute;
    	left:226px;
    	top:6px;
    	width:32px;
    	height:32px;
    	cursor: pointer;
    }
}

@media screen and (max-width: 1500px), screen and (max-height: 870px) {
	#guild {
		position: absolute;
		top: 10%;
		left: 5%;
		text-align: left;
		padding:32px 16px 16px 16px;
		width: 178px;
		height: 293px;
		color: white;
		text-align: center;
		opacity:0.75;
		cursor: pointer;
		pointer-events: all;		
	}

	#guild * 
	{
		color: rgba(255, 255, 255, 1);
		font-size: 16px;
		text-align: center;
		margin:2px;
	}
	
	
    #guildconfirm {
        position: absolute;
        width: 100px;
        height: 66px;
        left: calc(50% - 50px);
        top: calc(50% - 33px);
        background: rgba(0, 0, 0, 0.5);
        display: none;
    }    
    #guildconfirm * 
    {
        color: rgba(255, 255, 255, 1);
        font-size: 16px;
        text-align: center;   
	cursor: pointer;
	pointer-events: all;		
    }
    
    #guildclose
    {
    	position:absolute;
    	left:151px;
    	top:4px;
    	width:21px;
    	height:21px;
    	cursor: pointer;
    }
    
}

@media screen and (max-width: 1000px) {
	#guild {
		position: absolute;
		top: 10%;
		left: 5%;
		text-align: left;
		padding:16px 8px 8px 8px;
		width: 74px;
		height: 124px;
		color: white;
		text-align: center;
		opacity:0.75;
		
	}

	#guild * 
	{
		color: rgba(255, 255, 255, 1);
		font-size: 8px;
		text-align: center;
		margin:1px;
	}
	
    #guildconfirm {
        position: absolute;
        width: 50px;
        height: 33px;
        left: calc(50% - 50px);
        top: calc(50% - 33px);
        background: rgba(0, 0, 0, 0.5);
        display: none;
    }    
    #guildconfirm * 
    {
        color: rgba(255, 255, 255, 1);
        font-size: 8px;
        text-align: center;
	cursor: pointer;
	pointer-events: all;		

    }
    
    #guildclose
    {
    	position:absolute;
    	left:76px;
    	top:2px;
    	width:11px;
    	height:11px;
    	cursor: pointer;
    }
    
}

